@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Cloud Advocacy GitHub Readme Preference</h1>

<br />

<label>@Model.LoggedInLabelText</label>

<br />

<label>@Model.CurrentPreferenceText</label>

<br />

<form method="post" asp-page="Index">
    <input class="button" type="submit" value="@Model.ButtonText" asp-page-handler="OptOutButtonClicked" />
</form>

<br />

<label>@Model.OutputText</label>