@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Opt Out</h1>
<h2>GitHub Readme Links</h2>

<form method="post" asp-page="Index">
    <input class="button" type="submit" value=@Model.OptOutText asp-page-handler="OptOutButtonClicked" formtarget="_blank" />
</form>